@font-face {
    src: url(/assets/fonts/ZenKakuGothicNew-Light.ttf);
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    src: url(/assets/fonts/ZenKakuGothicNew-Regular.ttf);
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url(/assets/fonts/ZenKakuGothicNew-Medium.ttf);
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    src: url(/assets/fonts/ZenKakuGothicNew-Bold.ttf);
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url(/assets/fonts/ZenKakuGothicNew-Black.ttf);
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    src: url(/assets/fonts/Podkova-Regular.ttf);
    font-family: 'Podkova', serif;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url(/assets/fonts/Podkova-Medium.ttf);
    font-family: 'Podkova', serif;
    font-weight: 500;
    font-style: normal;
}
@font-face {
    src: url(/assets/fonts/Podkova-SemiBold.ttf);
    font-family: 'Podkova', serif;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    src: url(/assets/fonts/Podkova-Bold.ttf);
    font-family: 'Podkova', serif;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url(/assets/fonts/Podkova-ExtraBold.ttf);
    font-family: 'Podkova', serif;
    font-weight: 800;
    font-style: normal;
}

.text {
    color: black;
    font-size: 1em;
    font-weight: 300;
}
.text-bold {
    color: black;
    font-size: 1em;
    font-weight: 700;
}

/* Header */

.header {
    width: 100vw;
    background-color: rgba(183, 145, 95, 0.1);
    border-bottom: 1.5px solid rgba(183, 145, 95, 0.5);
    font-size: 1.1em;
}
.header__link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 5%;
    list-style-type: none;
    padding: 10px;
    
}
.header__link {
    color: black;
    text-decoration: none;
}
.header__logo {
    max-height: 60px;
}

/* Блок 1 */

.block-1 {
    background-image: url(../images/06_main_picture_opacity.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid rgba(183, 145, 95, 0.5);
    
}

.block-1__h1 {
    width: 40%;
    margin: 10% 0 0 10%;
}

.block-1__text {
    width: 40%;
    margin-left: 10%;
}

.block-1__button {
    max-width: 20%;
    padding: 20px;
    margin: 10px 0 10% 10%;
    border: 1.5px solid rgba(183, 145, 95, 0.5);
    text-align: center;
}

/* Блок 2 */

.block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* Блок 3 */

.block-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.block-3-container{
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;

}
.block-3-container__item{
    text-align: center;
}

.block-3-container__text{
    border:1.5px solid rgba(183, 145, 95, 0.5);
    padding:20px;
    background-color: white;

}

.third-container{
    background-image: url(../images/04_background_picture.jpg);
    border-bottom: 1.5px solid rgba(183, 145, 95, 0.5);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Блок 4 */

.block-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.block-4__point {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(183, 145, 95, 0.5);
    margin: 10px;
    background-color: white;
    padding-right: 40px;
}
.block-4__number {
    color: rgb(183, 145, 95);
    font-size: 1.2em;
    margin: 20px 40px 20px 20px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 500;
}
.block-4__text {
    color: black;
    font-size: 0.9em;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
}
.block-4__textbold {
    color: black;
    font-size: 1.2em;
    font-family: 'Podkova', serif;
    font-weight: 700;
}

.block-4__header {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
}

/* Блок 5 */

.block-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.block-5__container {
    margin: 0 10vw 10vw 10vw;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}
.block-5__container > div {
    background-color: white;
    border: 1.5px solid rgba(183, 145, 95, 0.5);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block-5__container > div > h3 {
    padding: 0 15px 0 15px;
}
.block-5__container > div > p {
    padding: 0 15px 0 15px;
}
.block-5__container-link {
    background-color: white;
    border-top: 1.5px solid rgba(183, 145, 95, 0.5);
    color: rgb(183, 145, 95);
    text-decoration: none;
    padding: 15px;
    text-align: center;
}
.block-5__container-link {
    background-color: white;
    border-top: 1.5px solid rgba(183, 145, 95, 0.5);
    color: rgb(183, 145, 95);
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: rgba(183, 145, 95, 0.5);;
}
.footer__link_social > a > img{
    width: 5vw;
}
.footer>div {
    padding: 15px;
}

.footer>div>a {
    color: black;
    text-decoration: none;
}
